In [3]:
import numpy as np
import pandas as pd

name = ['Bayern','Real Madrid','Man City','Liverpool','Chelsea','Dortmund','Juventus','PSG',
        'Atletico','Gladbach','FC Porto','Atalanta','Siviglia','Lazio','Barcellona','RBL']
team = pd.DataFrame(name, columns=['Nome'])
team['Code'] = np.arange(0,16)
team['Group'] = [0,1,2,3,4,5,6,7,0,1,2,3,4,5,6,7]
#0 Germany - #1 Spain - #2 England - #3 Italy - #4 France - #5 Portugal
team['Nation'] = [0,1,2,2,2,0,3,4,1,0,6,3,1,3,1,0]

team

           Nome  Code  Group  Nation
0        Bayern     0      0       0
1   Real Madrid     1      1       1
2      Man City     2      2       2
3     Liverpool     3      3       2
4       Chelsea     4      4       2
5      Dortmund     5      5       0
6      Juventus     6      6       3
7           PSG     7      7       4
8      Atletico     8      0       1
9      Gladbach     9      1       0
10     FC Porto    10      2       6
11     Atalanta    11      3       3
12     Siviglia    12      4       1
13        Lazio    13      5       3
14   Barcellona    14      6       1
15          RBL    15      7       0

In [8]:
# Sorteggio
df = pd.DataFrame(np.zeros((16,16)), columns = np.arange(0,16))
# Numero di test
uu = 10000

for k in np.arange(0,uu):
    match = pd.DataFrame([],columns=['Squadre'])
    teams = team
    j=0
    while j != 8:
        # Sorteggia squadra 1
        a1 = teams.loc[np.random.randint(0,(8-j))]
        
        # Ora bisogna selezionare le possibili avversarie da sorteggiare
        # Quante nazioni sono rimaste
        n = teams['Nation'].value_counts()
        # Se sono rimaste n squadre di una nazione su 2n squadre l'accoppiata è già decisa
        if max(n) == (2*len(teams)):
            if a1['Nation'] != n.idxmax():
                # Se la squadra scelta random è di quella nazione
                oppo = teams[teams['Nation'] == n.idxmax()]
                # Le avversarie sono le altre
            else:
                # Altrimenti l'opposto
                oppo = teams[teams['Nation'] != n.idxmax()]
        else:
            # I possibili avversari sono quelli del secondo turno, diversa nazione e diverso gruppo
            oppo = teams[teams['Code'] > (7)]
            oppo = oppo[oppo['Nation'] != a1['Nation']]
            oppo = oppo[oppo['Group'] != a1['Group']].reset_index(drop=True)
        if len(oppo) == 0:
            j = 8
            # Se non ci sono più avversari esci dal ciclo
        else:
            # Sorteggia squadra 2
            a2 = oppo.loc[np.random.randint(0,len(oppo))]
            b = [a1['Code'],a2['Code']]
            match[j] = b
            # Togli dalle squadre restanti quelle sorteggiate
            teams = teams[((teams['Code'] != a1['Code']) & (teams['Code'] != a2['Code']))]
            teams = teams.reset_index(drop=True)
            j = j+1
            # Sorteggio completato
            if len(teams) == 0:
                match = match.drop('Squadre',axis=1)
                for i in np.arange(0,16):
                    #teste di serie
                    if i<8:
                        s = match.loc[1][match.loc[0] == i]
                        df[i][s]=df[i][s]+1
                    #non teste di serie
                    else:
                        s = match.loc[0][match.loc[1] == i]
                        df[i][s]=df[i][s]+1

In [9]:
pd.set_option('display.max_columns', 16)
display(df)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1223.0,1461.0,1509.0,1504.0,1601.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1385.0,1690.0,0.0,1910.0,0.0,2313.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1016.0,1347.0,0.0,855.0,992.0,981.0,986.0,1121.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1088.0,1341.0,800.0,0.0,929.0,988.0,1009.0,1143.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1049.0,1338.0,814.0,932.0,0.0,977.0,1019.0,1169.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1629.0,0.0,1156.0,1408.0,1494.0,0.0,1611.0,0.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1395.0,1871.0,1087.0,0.0,1393.0,0.0,0.0,1552.0
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1121.0,1401.0,833.0,952.0,981.0,938.0,1072.0,0.0
8,0.0,0.0,1016.0,1088.0,1049.0,1629.0,1395.0,1121.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.0,0.0,1347.0,1341.0,1338.0,0.0,1871.0,1401.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,1223.0,1385.0,0.0,800.0,814.0,1156.0,1087.0,833.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,1461.0,1690.0,855.0,0.0,932.0,1408.0,0.0,952.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,1509.0,0.0,992.0,929.0,0.0,1494.0,1393.0,981.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,1504.0,1910.0,981.0,988.0,977.0,0.0,0.0,938.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,1601.0,0.0,986.0,1009.0,1019.0,1611.0,0.0,1072.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,0.0,2313.0,1121.0,1143.0,1169.0,0.0,1552.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
tot = df[1].sum()
df2 = df/tot
df2.round(2)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.17,0.20,0.21,0.21,0.22,0.00
1,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.19,0.23,0.00,0.26,0.00,0.32
2,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.14,0.18,0.00,0.12,0.14,0.13,0.14,0.15
3,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.15,0.18,0.11,0.00,0.13,0.14,0.14,0.16
4,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.14,0.18,0.11,0.13,0.00,0.13,0.14,0.16
5,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.22,0.00,0.16,0.19,0.20,0.00,0.22,0.00
6,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.19,0.26,0.15,0.00,0.19,0.00,0.00,0.21
7,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.15,0.19,0.11,0.13,0.13,0.13,0.15,0.00
8,0.00,0.00,0.14,0.15,0.14,0.22,0.19,0.15,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
9,0.00,0.00,0.18,0.18,0.18,0.00,0.26,0.19,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
10,0.17,0.19,0.00,0.11,0.11,0.16,0.15,0.11,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
11,0.20,0.23,0.12,0.00,0.13,0.19,0.00,0.13,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
12,0.21,0.00,0.14,0.13,0.00,0.20,0.19,0.13,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
13,0.21,0.26,0.13,0.14,0.13,0.00,0.00,0.13,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
14,0.22,0.00,0.14,0.14,0.14,0.22,0.00,0.15,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
15,0.00,0.32,0.15,0.16,0.16,0.00,0.21,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00